@import url('../src/style/global.css');

html {
  font-size: 18px;
}

html.is-mobile {
  overflow: hidden;
}

html,
body {
  color: var(--fg);
  font-family: var(--font-sans);
  line-height: var(--leading-4);
  background-color: var(--bg);
  margin: 0;
  min-height: 100dvh;
  padding: 0;
  width: 100%;
}

#root {
  min-height: 100dvh;
}

* {
  box-sizing: border-box;
}

b,
strong {
  font-weight: var(--font-weight-semibold);
}
