@import url('../src/style/global.css');

html {
  font-size: 16px;
}

html.is-mobile {
  overflow: hidden;
}

html,
body {
  color: var(--fg-body);
  font-family: var(--family-primary);
  font-weight: 400;
  line-height: var(--leading-4);
  margin: 0;
  min-height: 100dvh;
  padding: 0;
  width: 100%;
}

body {
  font-size: var(--text-base);
}

#root {
  min-height: 100dvh;
}

* {
  box-sizing: border-box;
}

b,
strong {
  font-weight: var(--font-weight-semibold);
}
