@import url('@play/pylon/style/global.css');

html {
   font-size: 18px; /* 120% of default */
}

/* Base styles */
body {
  margin: 0;
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
}
