@import url('@play/pylon/style/global.css');

html {
  font-size: 16px; /* 120% of default */
}

/* Base styles */
body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--leading-relaxed);
  margin: 0;
  min-height: 100dvh;
  padding: 0;
  text-rendering: optimizeLegibility;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100dvh;
}
